.dialogPaper {
    border-radius: 20px;
    padding: 24px;
    background: linear-gradient(to top, #ffffff, #f0f9ff);
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.1);
    min-width: 90%;
    font-family: "Heebo", sans-serif;
}

@media (min-width: 600px) {
    .dialogPaper {
        min-width: 450px;
    }
}


.dialogTitleText {
    color: #1e3a8a;
    font-weight: bold;
    display: flex;
    text-align: center;
}
.saveButton {
    background-color: #1e3a8a;
    color: white;
}

.textField {
    margin-bottom: 16px;
}